:root{
    --baseshade-gray: #434343;
}

.black{
    color: var(--black-color);
}
.bg-black{
    background-color: var(--black-color);
}

.baseshade-gray{
    color: var(--baseshade-gray);
}
.bg-baseshade-gray{
    background-color: var(--baseshade-gray);
}
.bg-lightshade-blue{
    background-color: var(--lightshade-blue);
}
.bg-darksecondary{
    background-color: var(--darksecondary-color);
}
.darksecondary{
    color: var(--darksecondary-color);
}
.fs-07{
    font-size: 0.7rem;
}
.seperator{
    border-bottom: 1px solid #494b4c;
}

.padtb-1{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

input[type="radio"] {
    height: 1rem;
    width: 1rem;
    accent-color: var(--primary-color);
}

.center-flex-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

.bg-color-transparent{
    background-color: transparent;
}


