:root{
    --baseshade-gray: #434343;
}

.black{
    color: var(--black-color);
}
.bg-black{
    background-color: var(--black-color);
}

.baseshade-gray{
    color: var(--baseshade-gray);
}
.bg-baseshade-gray{
    background-color: var(--baseshade-gray);
}
.bg-darksecondary{
    background-color: var(--darksecondary-color);
}
.darksecondary{
    color: var(--darksecondary-color);
}
.fs-07{
    font-size: 0.7rem;
}

