.cart-pg-layout {
    display: grid;
    grid-template-areas:
        "head head head head head head"
        ".... prod prod cout cout ...."
        "foot foot foot foot foot foot";
    gap: 20px;
}

.cart-pg-navbar {
    grid-area: head;
}


.cart-pg-product {
    grid-area: prod;
    padding: 1rem 2rem;

}

.cart-pg-checkout {
    grid-area: cout;
    justify-content: start;
    align-items: center;
    padding: 1rem;
}

.cart-pg-footer {
    grid-area: foot;
}



/* cart-products */

.cart-products {
    row-gap: 10px;
}


/* checkout */

.billing-card {
    background-color: var(--white-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: auto;
    padding: 2rem;
    border: none;
    box-shadow: 0 1px 5px 0px var(--lightgray-color);
}

.checkout-items {
    row-gap: 25px;
}



@media only screen and (max-width: 54em) {
    .cart-pg-layout {
        display: grid;
        grid-template-areas:
            "head head head head head head"
            ".... prod prod prod prod ...."
            ".... prod prod prod prod ...."
            ".... cout cout cout cout ...."
            ".... cout cout cout cout ...."
            "foot foot foot foot foot foot";
        gap: 20px;
    }
}